version: '3'
services:
  api:
    build:
      context: api
    image: ${REPO}:${TAG}-api
    depends_on:
      - mongo
      - redis
    healthcheck:
      test: [ "CMD", "curl", "-H", "X-INSTANA-SYNTHETIC: 1", "-f", "http://localhost:8080/health" ]
      interval: 10s
      timeout: 10s
      retries: 3
    ports:
      - 8080:8080
    environment:
      - INSTANA_AGENT_HOST=host.docker.internal
      - INSTANA_SERVICE_NAME=playlist-api
      - MONGO_URL=mongodb://mongo:27017/catalogue
      - REDIS_HOST=redis://redis:6379
    networks:
      - playlist-api
  mongo: 
    build:
      context: mongo
    image: ${REPO}:${TAG}-mongo
    ports:
      - 27017:27017
    environment:
      - INSTANA_AGENT_HOST=host.docker.internal
      - INSTANA_SERVICE_NAME=playlist-mongo
    networks:
      - playlist-api
  redis:
    image: redis:6.2
    ports:
      - 6379:6379
    networks:
      - playlist-api

networks:
  playlist-api:
