version: '3'
services:
  redis:
    image: redis:6.2
  api:
    build:
      context: api
    image: ${REPO}/api:${TAG}
    depends_on:
      - redis
    healthcheck:
      test: [ "CMD", "curl", "-H", "X-INSTANA-SYNTHETIC: 1", "-f", "http://localhost:8080/health" ]
      interval: 10s
      timeout: 10s
      retries: 3
    ports:
      - 8080:8080