# Default values for playlist.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

image:
  repository: joshuamlee/playlists
  pullPolicy: Always
  tag: "0.1.0-api"

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

podAnnotations: {}

podSecurityContext: {}

securityContext: {}

service:
  type: ClusterIP
  port: 8080

resources: {}

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80

nodeSelector: {}

tolerations: []

affinity: {}

serviceAccount:
  create: true
  annotations: {}

redis:
  auth:
    enabled: false
  replica:
    replicaCount: 1
mongodb:
  global:
    storageClass: "do-block-storage"
  auth:
    enabled: false